.cdsinit
.runset.*
.cadence
*.log
.cgidrcdb
.cgilvsdb
.stimulusFile.auCdl
PIPO.LOG.*
PIPO.SUM.*
_calibreDRC.rul_
_calibreLVS.rul_
ihnl/
libManager.log.cdslck
map/
netlist
query_results
*.calibre.db
*.drc.results
*.drc.summary
*.lvs.report
*.lvs.report.ext
*.sp
*.src.net
si.env
svdb/
