#=========================================================================
# Mentor Graphics Catapult High Level Synthesis
#=========================================================================
# Author : Kartik Prabhu
# Date   : February 25, 2020
#

name: hls

#-------------------------------------------------------------------------
# Inputs
#-------------------------------------------------------------------------

inputs:
  - sram_64_256.v
  - sram_64_256_TT_1p1V_25C.lib
  - sram_512_128.v
  - sram_512_128_TT_1p1V_25C.lib

#-------------------------------------------------------------------------
# Outputs
#-------------------------------------------------------------------------

outputs:
  - design.v

#-------------------------------------------------------------------------
# Commands
#-------------------------------------------------------------------------

commands:
  # Import the memories into Catapult
  - catapult -shell -file sram_512_128.tcl
  - catapult -shell -file sram_64_256.tcl
  - make
  - mkdir -p outputs
  # remove the memory simulation models and other weird modules that Catapult creates
  - sed '/module sram_/,/endmodule/d;/module unreg_hier/,/endmodule/d' build/Conv.v1/concat_rtl.v > outputs/design.v
  - echo "module unreg_hier ( \
         in_0, out_0 \
       ); \
         input in_0; \
         output out_0; \
       \
       \
       \
         // Interconnect Declarations for Component Instantiations  \
         assign out_0 = in_0; \
       endmodule \
       " >> outputs/design.v


#-------------------------------------------------------------------------
# Parameters
#-------------------------------------------------------------------------

parameters:
  clock_period: 1.0

#-------------------------------------------------------------------------
# Debug
#-------------------------------------------------------------------------

debug:
  - make gui