#=========================================================================
# OpenRAM SRAM Compiler 
#=========================================================================
# Author : Kartik Prabhu
# Date   : February 15, 2020
#

name: sram

#-------------------------------------------------------------------------
# Outputs
#-------------------------------------------------------------------------

outputs:
  - sram.sp
  - sram.v
  - sram.lef
  - sram_tt_1p1V_25C.lib
  - sram_tt_1p1V_25C.db
  - sram.gds

#-------------------------------------------------------------------------
# Commands
#-------------------------------------------------------------------------

commands:
  # Run OpenRAM first to create the outputs
  - python3 $OPENRAM_HOME/openram.py sramconfig.py
  # Use Synopsys Library Compiler to create a db file
  - ./convert_lib_to_db.sh outputs
  # Replace the following in LEF file:
  # m1 with metal1
  # m2 with metal2
  # m3 with metal3
  # m4 with metal4
  - mv outputs/sram.lef outputs/sram_mx.lef
  - sed 's/m1/metal1/g' outputs/sram_mx.lef > outputs/sram_m1.lef
  - sed 's/m2/metal2/g' outputs/sram_m1.lef > outputs/sram_m2.lef
  - sed 's/m3/metal3/g' outputs/sram_m2.lef > outputs/sram_m3.lef 
  - sed 's/m4/metal4/g' outputs/sram_m3.lef > outputs/sram.lef
  # mflowgen searches for libs with *tt*, *ff*, and *ss*, so rename these files
  - mv outputs/sram_TT_1p1V_25C.lib outputs/sram_tt_1p1V_25C.lib
  - mv outputs/sram_TT_1p1V_25C.db outputs/sram_tt_1p1V_25C.db

