#=========================================================================
# OpenRAM SRAM Compiler 
#=========================================================================
# Author : Kartik Prabhu
# Date   : February 15, 2020
#

name: sram

#-------------------------------------------------------------------------
# Outputs
#-------------------------------------------------------------------------

outputs:
  - sram.sp
  - sram.v
  - sram.lef
  - sram_tt_1p1V_25C.lib
  - sram_tt_1p1V_25C.db
  - sram.gds

#-------------------------------------------------------------------------
# Commands
#-------------------------------------------------------------------------

commands:
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_16_width_2/sram.sp outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_16_width_2/sram.v outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_16_width_2/sram.lef outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_16_width_2/sram_tt_1p1V_25C.lib outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_16_width_2/sram_tt_1p1V_25C.db outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_16_width_2/sram.gds outputs
