#=========================================================================
# OpenRAM SRAM Compiler 
#=========================================================================
# Author : Kartik Prabhu
# Date   : February 15, 2020
#

name: sram

#-------------------------------------------------------------------------
# Outputs
#-------------------------------------------------------------------------

outputs:
  - sram_512_128.sp
  - sram_512_128.v
  - sram_512_128.lib
  - sram_512_128.lef
  - sram_512_128_tt_1p1V_25C.lib
  - sram_512_128_tt_1p1V_25C.db
  - sram_512_128.gds
  - sram_64_256.sp
  - sram_64_256.v
  - sram_64_256.lib
  - sram_64_256.lef
  - sram_64_256_tt_1p1V_25C.lib
  - sram_64_256_tt_1p1V_25C.db
  - sram_64_256.gds

#-------------------------------------------------------------------------
# Commands
#-------------------------------------------------------------------------

commands:
  # Run OpenRAM first to create the outputs
  # - python3 $OPENRAM_HOME/openram.py sram_64_256_config.py
  # - python3 $OPENRAM_HOME/openram.py sram_512_128_config.py
  # Fix the mem issue
  # - printf %s\\n 43m27 w q | ed -s sram_64_256.v
  # - printf %s\\n 43m27 w q | ed -s sram_512_128.v
  # Use Synopsys Library Compiler to create a db file
  - ./convert_lib_to_db.sh outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_512_width_128/sram_512_128.sp outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_512_width_128/sram_512_128.v outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_512_width_128/sram_512_128.lef outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_512_width_128/sram_512_128_tt_1p1V_25C.lib outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_512_width_128/sram_512_128_tt_1p1V_25C.db outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_512_width_128/sram_512_128.gds outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_64_width_256/sram_64_256.sp outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_64_width_256/sram_64_256.v outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_64_width_256/sram_64_256.lef outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_64_width_256/sram_64_256_tt_1p1V_25C.lib outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_64_width_256/sram_64_256_tt_1p1V_25C.db outputs
  - cp /afs/ir/class/ee272/OpenRAM/generated_memories/sram_depth_64_width_256/sram_64_256.gds outputs
